{% if comments is not empty %}

  {% for social_item in comments %}
    {% if social_item._source.media %}

      <div class="col s12 m3">
        <div class="card social-image-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ social_item._source.media | default('#') }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              {{ social_item._source.username | default('') }}
              <i class="material-icons right">more_vert</i>
            </span>
            <p class="social-image-card-text ellipsis">{{ social_item._source.original_text | default('') }}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              {{ social_item._source.username | default('') }}
              <i class="material-icons right">close</i>
            </span>
            <p>{{ social_item._source.original_text | default('') }}</p>
          </div>
        </div>
      </div>

    {% else %}

      <div class="col s12 m3">
        <div class="card social-card">
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">
              {{ social_item._source.username | default('') }}
            </span>
            <p class="social-card-text"> {{ social_item._source.original_text | default('') }}</p>
          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}

{% endif %}
