<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Winegram{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav>
          <div class="nav-wrapper teal darken-3 row">
            <div class="col s12 m10 offset-m1">
              <div class="row">
                <a href="{{ url('home') }}" class="brand-logo">Winegram</a>
                <div class="col s12 m4 offset-m4">
                  <form action="{{ url('search') }}">
                    <div class="input-field">
                      <input id="search" type="search" name="query" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="{{ url('home') }}">Home</a></li>
                  <li><a href="{{ url('product', {'productId': 973144}) }}">Producto</a></li>
                  <li><a href="{{ url('top-selling') }}">Top ventas</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>

        {% block body %}{% endblock %}

          <footer class="page-footer teal darken-3">
            <div class="container">
            <p class="grey-text text-lighten-4">© 2016 Winegram</p>
            </div>
          </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
