{% extends 'base.html.twig' %}

{% block body %}
    <main class="container ">
        <h3>Top ventas</h3>
        <div class="section">
            <h4>Tinto</h4>
            <div class="row">
                {% for product in products %}
                    <div class="col s12 m3">
                        <div class="card product-card">
                            <div class="card-image">
                                <a href="{{ url('product', {'productId': product.id_product}) }}">
                                    <img src="{{ product.image_full }}">
                                    <span class="card-title">{{ product.category }}</span>
                                </a>
                            </div>
                            <div class="card-content">
                                <p class="product-card-name ellipsis">{{ product.long_name }}</p>
                                <p class="product-card-maker ellipsis">{{ product.maker }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
